body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.cardField {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  width: 900px;
  margin: 3% auto;
}

.cardField > * {
  margin: 10px;
  width: 182px;
  height: 216px;
  cursor: pointer;
}

.image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
}

.image-blank {
  background: url("./assets/space.jpg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
}

.about-game {
  width: 500px;
  margin: 15% auto;
  position: relative;
  cursor: pointer;
}

.about-arrow {
  position: absolute;
  top: 50%;
}

.about-arrow.right {
  right: -15%;
}

.about-arrow.left {
  left: 0%;
}
